/* src/components/SupportUkraine/SupportUkraine.module.css */

.supportSection {
     background-color: #f5f5f5;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     margin: 32px;
   }
   
   .title {
     font-size: 18px;
     font-weight: bold;
     color: var(--blue-btn);
     margin-bottom: 10px;
     margin-top: 10px;
   }
   
   .description {
     font-size: 14px;
     font-weight: 600;
     color: var(--light-grey);
     margin-bottom: 26px;
   }
   
   .donationLink {
     font-size: 16px;
     font-weight: 800;
     background-color: var(--yellow);
     color: var(--blue-btn);
     text-decoration: none;
     padding: 10px 20px;
     border-radius: 15px;
     transition: background-color 0.3s ease, color 0.3s ease;
     animation: heartbeat 1.5s infinite;
   }
   
   .donationLink:hover {
     background-color: var(--blue-btn);
     color: var(--white);
   }
   
   @keyframes heartbeat {
     0% {
       transform: scale(1);
     }
     25% {
       transform: scale(1.05);
     }
     50% {
       transform: scale(0.95);
     }
     75% {
       transform: scale(1.05);
     }
     100% {
       transform: scale(1);
     }
   }
   
   .marquee {
     margin-top: 20px;
   }
   
   .marqueeContent {
     display: flex;
     gap: 20px;
   }
   
   .marqueeItem {
     font-size: 16px;
     color: var(--navy-blue);
     font-weight: 600;
   }

   .marqueeItem {

     line-height: 1.5;
     color: var(--yellow);
   }
   
 
   
   .support {
     font-size: 18px;
     font-weight: 800;
     color: var(--blue-btn);
   }
   
   
   