.supportSection {
  padding: 20px;
  margin: 32px;
  background-color: var(--white-grey);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow);
  text-align: center;
}

.title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--blue-btn);
}

.description {
  margin-bottom: 26px;
  font-size: 14px;
  color: var(--light-grey);
  margin-bottom: 34px;
}

.donationLink {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 800;
  background-color: var(--yellow);
  color: var(--blue-btn);
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.donationLink:hover {
  background-color: var(--blue-btn);
  color: var(--white);
}

.marquee {
  margin-top: 20px;
}

.marqueeContent {
  display: flex;
  gap: 20px;
}

.marqueeItem {
  margin-top: 8px;
  font-size: 14px;
  color: var(--light-grey);
  line-height: 1.5;
}

.support {
  font-size: 16px;
  font-weight: 800;
  color: var(--blue-btn);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 21px;
  }

  .description {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 34px;
  }

  .marqueeItem {
    font-size: 16px;
  }

  .support {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin-bottom: 12px;
  }
}
