.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 32px;
}

.loadMoreButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.loadMoreButton {
  padding: 10px 20px;
  font-size: 14px;
  color: var(--blue-btn);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loadMoreButton:hover {
  color: var(--blue-btn-hover);
}
