/* src/components/CarList/CarList.module.css */

.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 32px;
}

.loadMoreButton {
  display: flex;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 14px;
  color: var(--blue-btn);
  /* text-decoration: none; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loadMoreButton:hover {
  color: var(--blue-btn-hover);
}
