:root {
  --font-family: "Manrope", sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--white);
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
  font-weight: 400;
}

p,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;

  background: transparent;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.659);
  caret-color: rgba(255, 255, 255, 0.659);
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
