.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  outline: none;
  min-height: 752px;
  border-radius: 24px;

  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 8px var(--shadow);
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeOverlay 0.3s ease-out;
}

@keyframes fadeOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContent {
  position: relative;
}

.modalContentItem {
  padding: 40px;
}

.closeButton {
  position: absolute;
  right: 10px;
  padding: 8px;
  font-size: 34px;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--blue-btn-hover);
}

.carImg {
  width: 461px;
  height: 248px;
  border-radius: 14px;
  object-fit: cover;
}

.details {
  margin-top: 20px;
}

.detailsTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  /* margin-bottom: 14px; */
}

.model {
  color: var(--blue-btn);
}

.descriptionCard {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(18, 20, 23, 0.5);
  max-width: 277px;
}

.description {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  max-width: 461px;
}

.descriptionItem {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
  margin-bottom: 24px;
  margin-top: 8px;
  max-width: 461px;
}

.oval {
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #f9f9f9; /* фон овала */
  white-space: nowrap; /* запобігає переносу тексту */
}

.mileage {
  color: var(--blue-btn); /* змініть на бажаний колір */
}

.price {
  color: var(--blue-btn); /* змініть на бажаний колір */
}

.rentalLink {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--blue-btn);
  color: var(--white);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  width: 168px;
  height: 44px;
  padding: 12px 50px 12px 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.rentalLink:hover {
  background-color: var(--blue-btn-hover);
}
