.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue);
  padding: 20px 32px;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navLink:not(:first-child) {
  margin-left: 20px;
}

.navLink:hover {
  color: var(--blue-btn);
}

.navLinkActive {
  color: var(--blue-btn);
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
    font-size: 18px;
    color: var(--white);
  }

  .logoLink {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
  }

  .logoLink:hover {
    color: var(--blue-btn);
  }

  .logoBold {
    font-weight: 800;
    color: var(--yellow);
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }
}
