/* Footer.module.css */

.footer {
  background-color: var(--navy-blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Вирівнюємо внизу */
  padding: 20px;
  align-items: flex-start;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease; /* Анімація для плавного переходу */
}

.contactInfo,
.additionalInfo {
  text-align: left; /* Вирівнюємо контактну інформацію до лівого краю */
}

.contactInfo h3,
.additionalInfo h3 {
  display: none;
}

.contactInfo p,
.additionalInfo p {
  display: none;
}

.socialIcons {
  display: flex;
  gap: 24px;
}

/* .iconLink {
  text-decoration: none;
  color: #fff;
} */

.icon {
  font-size: 24px;
  color: var(--blue-btn);
  transition: transform 0.3s ease; /* Анімація для ховера */
}

.icon:hover {
  color: var(--white-grey);
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .iconFooter {
    font-size: 12px;
    color: var(--blue-btn);
  }

  .footer {
    justify-content: space-evenly;
    align-items: center;
  }

  .contactInfo,
  .additionalInfo {
    text-align: left; /* Вирівнюємо контактну інформацію до лівого краю */
  }

  .contactInfo h3,
  .additionalInfo h3 {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .contactInfo p,
  .additionalInfo p {
    display: block;
    margin-bottom: 8px;
  }
}
