.mapContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .mapContainer {
    display: flex;
    justify-content: flex-end;
  }

  .popupContent {
    font-size: 14px;
    color: var(--blue-btn);
    font-weight: 800;
    text-align: center;
  }

  .toggleButton {
    display: flex;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--blue-btn);
    color: var(--white);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .toggleButton:hover {
    background-color: var(--blue-btn-hover);
  }

  .icon {
    font-size: 14px;
    margin-right: 10px;
  }

  .modalMap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .mapContent {
    display: flex;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-end;
    gap: -30px;
  }

  .closeButton {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--blue-btn);
    color: var(--white-grey);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .closeButton:hover {
    background-color: var(--blue-btn-hover);
  }

  .map {
    width: 500px;
    height: 500px;
    border-radius: 10px;
  }
}
