/* src/components/CarCard/CarCard.module.css */

.carCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Додаємо фіксовану ширину для карточки */
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9; /* Змінюємо колір фону */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carCard img {
  width: 274px;
  height: 268px;
  gap: 0px;
  border-radius: 14px;
  object-fit: cover; /* Забезпечуємо, що зображення буде відображатися без зісковзування */
  margin-bottom: 10px; /* Додаємо зазор під зображенням */
}

.details {
  width: 100%; /* Робимо деталі всю ширину карточки */
}

h2, p {
  margin: 5px 0; /* Задаємо зовнішній відступ для текстових елементів */
}

button {
  background-color: transparent; /* Фон кнопки прозорий */
  border: none; /* Відсутність границі */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.iconHeart {
  width: 18px;
  height: 18px;
  fill: #ff0000; /* Колір сердечка */
  margin-right: 5px; /* Зазор між іконкою і текстом */
}

.favorite {
  color: #ff0000; /* Колір тексту для улюбленої машини */
}
