.carCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.carCard img {
  height: 268px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 14px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.favorite,
.notFavorite {
  color: var(--blue-btn);
}

/*  */

.descriptionCard {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--light-grey);
  margin-top: 8px;
}

.titleCard {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--light-grey);
}

.titlePrice {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--blue-btn);
}

.titleCar {
  display: flex;
  justify-content: space-between;
}

.learnMore {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--blue-btn);
  color: var(--white);
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learnMore:hover {
  background-color: var(--blue-btn-hover);
}
